@import "tailwindcss";

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}


.scrollbar-slim::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-slim::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-slim::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* Tailwind's slate-300 */
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* You can put this in your index.css or App.css */
.swiper-pagination {
  position: static !important;
  margin-top: 1rem; /* Adds space below */
  text-align: center;
}
